<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Yummy</title>
      
        <script src="../bootstrap-5.3.0-dist/js/bootstrap.bundle.js"></script>
        <link rel="stylesheet" href="../bootstrap-5.3.0-dist/css/bootstrap.min.css">
      
      
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
      </head>
<body>
    
    <div class="container">
        <header class="d-flex justify-content-center py-3">
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link">About</a></li>
          </ul>
        </header>
    </div>


    <section class="container-fluid">
          <!-- End Head -->
          <h1 class="p-relative">Blankoo Products</h1>
          <div class="btn-group d-flex justify-content-center  col-12 mb-5" role="group"
            aria-label="Basic outlined example">
            <a type="button" class="btn btn-outline-dark active" href="/admin/add-product">Add product</a>
            <a type="button" class="btn btn-outline-dark " href="/admin/view-products">View Product</a>
          </div>
          <div class="row m-2 justify-content-center">
            <form action="/admin/add-product" method="post" enctype="multipart/form-data" onsubmit="return validate(this)" >
              <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" name="name"  >
                 <div id="nameErr" class="err"> </div>
              </div>
              <div class="form-group">
                <label for="price">Price:</label>
                <input type="number" step=".01" class="form-control" id="price" name="price"  >
                <div id="priceErr" class="err"> </div>
              </div>
              <div class="form-group">
                <label for="category">Catergory:</label>
                <input class="form-control" id="category" name="category" rows="3"  ></input>
                <div id="catErr" class="err"> </div>
              </div>
              <div class="form-group">
                <label for="description">Description:</label>
                <textarea class="form-control" id="description" name="description" rows="3"  ></textarea>
                <div id="desErr" class="err"> </div>
              </div>
              <div class="form-group">
                <label for="image">Image:</label>
                <input type="file" class="form-control-file" id="image" name="image"  >
              </div>
              <button type="submit" class="btn btn-primary">Add</button>
            </form>
          </div>
      </div>
  </div>
  </div>
</section>
</body>
</html>